<div class="{{ include.type | default: "list" }}__item">
    <article class="archive-item">
        <div>      
            <h2>네트워크 개요</h2><br/>
            
            <a>통신의 역사</a><br/>
            <a>네트워크의 정체</a><br/>            
            <a>네트워크의 필요성</a><br/>
            
            <br/>
            
            <h2>네트워크와 케이블</h2><br/>
            
            <a>랜 케이블에 대해 알아보자</a><br/>
            <a>IP 주소가 뭔가요?</a><br/>
            <a>NIC에 대해서</a><br/>
            <a>무선 공유기는 무슨 일을 할까요?</a><br/>
            
            <br/>
            
            <h2>네트워크 속으로</h2><br/>

            <a>IP 주소의 이야기 1</a><br/>
            <a>맥 어드레스에 관한 이야기</a><br/>
            <a>스위치와 라우터</a><br/>
            <a>LAN, WAN</a><br/>
            <a>IP 주소의 이야기 2</a><br/>
            <a>서브넷 마스크의 성질</a><br/>
            <a>통신 방식의 종류</a><br/>
            <a>유니캐스트, 멀티캐스트, 브로드캐스트</a><br/>        
            
            <h2>OSI 7 Layer</h2>
            
            <a>OSI 7 Layer 란?</a><br/>
            <a>Protocol 에 대해서</a><br/>            
            <a>Encapsulation, Decapsulation</a><br/>
            
            <h2>물리 계층</h2>
            
            <a>물리 계층의 개요</a><br/>
            <a>네트워크 토폴로지</a><br/>
            <a>리피터</a><br/>
            <a>허브</a><br/>
            
            <h2>데이터 링크 계층</h2>
            
            <a>데이터 링크 계층의 개요</a><br/>
            <a>MAC address</a><br/>
            <a>Ethernet</a><br/>            
            <a>CSMA/CD</a><br/>
            <a>브리지</a><br/>
            <a>스위치</a><br/>
            
            <h2>네트워크 계층</h2>
            
            
            
            <!--
            <br/>
            {% for post in posts %}          
              {% if post.header.teaser %}
                {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
              {% else %}
                {% assign teaser = site.teaser %}
              {% endif %}
              {% if post.id %}
                {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
              {% else %}
                {% assign title = post.title %}
              {% endif %}          
            
              {% if post.step == 1 %}
                <span>
                  <a href="{{ post.url }}">{{post.title}}</a><br/>
                </span>                 
              {% endif %} 
            
            {% endfor %}
            <big>과정 1</big>
            <br/>
            {% for post in posts %}   
              {% if post.header.teaser %}
                {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
              {% else %}
                {% assign teaser = site.teaser %}
              {% endif %}

              {% if post.id %}
                {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
              {% else %}
                {% assign title = post.title %}
              {% endif %}                 
              {% if post.step == 2 %}
                <span>
                  <a href="{{ post.url }}">{{post.title}}</a><br/>
                </span>                       
              {% endif %}                   
            {% endfor %} 
            -->
        </div>
      </article>
</div>
